.nav {
	background-color: #FFFFFF;
	position: relative;
	height: 32px;
}

ul.nav {
	display: incline-block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li.nav {
	float: left;
	width: 20%;
}

.bnav {
	border: none;
	display: incline-block;
	text-decoration: none;
	width: 19.7%;
	color: black;
	background-color: #FFFFFF;
	text-align: center;
	padding: 6px;
	font-weight: Bold;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 10px;
}

.bnav :hover {
	background-color: #FFD700;
}

a.blocknav {
	box-shadow: 0px 2px 0px 0px #aaaaaa;
	display: block;
	text-decoration: none;
	width: auto;
	color: black;
	background-color: #FFFFFF;
	text-align: center;
	padding: 6px;
	font-weight: Bold;
	text-transform: uppercase;
}

a.blocknav:hover,
a.blocknav:active {
	background-color: #FFD700;
}

.content {
	margin: 0;
	height: 100%;
	max-height: 100%;
	overflow: auto;
	text-align: center;
}

p {
	margin-top: 0px;
}

.homeWelcome {
	padding-top: 20px;
}

.homeDiv {
	background-image: url('../image/thunderbird.jpg');
	background-clip: text;
	color: transparent;
	font-family: cursive;
	font-size: 14em;
	font-weight: 900;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: contain;
}

.proTable {
	max-width: 100%;
	border: 0px;
	margin: 20px;
	border-collapse: separate;
	border-spacing: 10px 80px;
	text-align: center;
	display: inline-table;
}

.proTable tr {
	width: 200px;
}

.proTable img {
	width: 250px;
	height: 250px;
}

.toTop {
	padding: 16px;
	display: none;
	position: fixed;
	right: 5%;
	top: 85%;
	border-radius: 20%;
	border-color: #FFF;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 0px 5px #888888;
	text-align: center;
	background-color: #FFF;
	cursor: pointer;
}

.toTop:hover {
	color: white;
	background: #fefcea;
	/* Old browsers */
	background: #e7bd00b9;
	/* W3C */
}

.toTop:active {
	background: #e7bd0093;
}